/* {
  border: 1px dashed red;
  min-height: 10px;
}*/
HTML {
  width: 500px;
  margin: auto;
  background-color: black;
}

.header {
  width: 500px;
  height: 75px;
  background-color: white;
}

.flower {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: left;
  padding-top: 5px;
}
.dots {
  height: 40px;
  float: right;
  padding-top: 15px;
}

.Jesus {
  width: 500px;
  margin-bottom: -10px;
}

.icons {
  background-color: white;
  font-size: 30px;
  width: 500px;
  padding-top: 20px;
}

.bookmark {
  float: right;
  padding-right: 90px;
}

h1 {
  margin: 20px;
  padding-left: 50px;
}
h6 {
  font-size: 20px;
  margin: 10px;
}
p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: -20px;
  padding-bottom: 60px;
  margin: 10px;
}
